<html>
<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header">

            <a class="navbar-brand" href="#"> <img  alt="Brand" src="/static/images/logo.png" height="auto" width="80px"> </a>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><button type="button" class="btn rButton" data-toggle="modal" data-target="#register">Register</button></a></li>
            <li><a href="#" ><button type="button" class="btn sButton" data-toggle="modal" data-target="#signin">Sign in</button></a></li>
        </ul>

    </div>

</nav>
</html>